<%= form_with(model: user, class: 'page-form') do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit 'Sign up' %>
  </div>
<% end %>
